html {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
body {
  width: 100%;
  font-family: "Roboto";
}
nav {
  font-family: "spectral";
  margin: auto;
  padding: 15px;
  font-family: "spectral";
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffc017;
}
.logo {
  width: 130px;
  margin-left: 15px;
}
.logo img {
  max-width: 100%;
}
.barra-navigazione {
  width: 55%;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#black {
  width: 100px;
  border: 1px solid black;
  background-color: black;
  color: white;
  text-align: center;
  padding: 1em;
  border-radius: 30px;
}

.barra-navigazione li > a {
  text-decoration: none;
  color: black;
}

#black a {
  color: white;
}

#lettura {
  width: 150px;
  text-decoration: none;
  background-color: black;
  color: white;
  text-align: center;
  padding: 1em;
  border-radius: 30px;
}
header {
  background-color: #ffc017;
  border: 0.01px solid black;
  border-right: none;
  border-left: none;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titolo {
  display: flex;
  flex-direction: column;
  height: 370px;
  justify-content: space-evenly;
  margin-left: 170px;
}

.MMM {
  width: auto;
  height: auto;
}
h1 {
  font-family: "roboto";
  font-size: 50px;
  font-weight: 400;
}
.colonna {
  justify-items: flex-start;
}

#intestazione {
  display: flex;
  margin-right: 1em;
  justify-content: flex-start;
  align-items: center;
}
.info-articolo {
  display: flex;
  flex-direction: column;
}
.autore {
  display: flex;
}
.titolo-articolo p {
  flex: grow 3;
}
.num-resto {
  display: flex;
  flex-direction: column;
}
.numero > span {
  float: left;
  font-size: 20px;
  flex-grow: 5;
  opacity: 0.5;
}

#riga1,
#riga2 {
  display: flex;
  justify-content: space-around;
}
.cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#top {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-around;
}

aside {
  display: flex;
  flex-direction: column;
}
.bottoni {
  display: flex;
  flex-direction: column;
}
.linea1,
.linea2,
.linea3 {
  display: flex;
}

#blocco-bottoni {
  display: flex;
  flex-wrap: wrap;
}
